<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>movie durations</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    </head>

    <body>
        <h2>This Collection Belongs to {{ name }} </h2>

        <table>
            <tr>
                <th> movie </th>
                <th> length </th>
                <th> comments </th>
            </tr>

            {% for movie, length in movies.items() %}
                <tr>
                    <td> {{ movie }} </td>
                    <td> {{ length }} </td>
                        {% if length <= 2 %}
                            <td style="color: green"> short </td>
                        {% elif length >= 2 and length <=3 %}
                            <td style="color: orange"> medium </td>
                        {% else %}
                            <td style="color: red">long</td>
                        {% endif %}
                </tr>
            {% endfor %}
        </table>
    </body>
</html>